<p>Hola <%= @user.first_name %>,</p>

<p>Haz click en el siguiente enlace para restablecer tu contraseña:<br/>
  <a href="<%= @link %>"><%= @link %></a></p>

<p>Si no has solicitado recuperar tu contraseña, simplemente ignora este correo.</p>